MONGODB_URI=mongodb+srv://sunnydhruv123_db_user:wa2CXOZ1YwF052Zv@cluster0.met6kav.mongodb.net/?appName=Cluster0
FIREBASE_CREDENTIALS=backend/firebase-admin.json
GOOGLE_API_KEY=AQ.Ab8RN6IFljozzdyrRBkY4HsxkiV70ieMvQ6QTJtyZuH29KzBUA
LANGCHAIN_API_KEY=
COMPOSIO_API_KEY=ak_Q9XhYYDbssy8cFJuNv2x
TAVILY_API_KEY=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
EMAIL_SERVICE_KEY=re_MUzTztmk_AAiZiorKBMcsPcUHxpznPyyy
JWT_SECRET=26c881edd6f997ca8a562ff4168d011dbb9b2a342237101778ebbb2794d3603d
VITE_API_BASE_URL=http://localhost:8000
